/*Splash page*/
.coverSpread {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  overflow: hidden;
}
.coverSpread .overlayDoor:before, .coverSpread .overlayDoor:after {
  content: "";
  position: absolute;
  width: 50%;
  height: 100%;
  background:#F8F8F8;
  -webkit-transition: 0.5s cubic-bezier(0.77, 0, 0.18, 1);
  transition: 0.5s cubic-bezier(0.77, 0, 0.18, 1);
  -webkit-transition-delay: .8s;
          transition-delay: .8s;
}
.coverSpread .overlayDoor:before {
  left: 0;
}
.coverSpread .overlayDoor:after {
  right: 0;
}
.coverSpread.finito .overlayDoor:before {
  left: -50%;
}
.coverSpread.finito .overlayDoor:after {
  right: -50%;
}
.coverSpread.finito .overlayContent {
  opacity: 1;
  margin-top: -15px;
  z-index: 100;
  display: none;
}
.coverSpread .overlayContent {
  position: relative;
  background-color: white;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-transition: 0.5s cubic-bezier(0.77, 0, 0.18, 1);
  transition: 0.5s cubic-bezier(0.77, 0, 0.18, 1);
}
.coverSpread .overlayContent .skip {
  display: block;
  width: 130px;
  text-align: center;
  margin: 50px auto 0;
  cursor: pointer;
  color: black;
  font-family: 'Montserrat';
  font-weight: 700;
  padding: 12px 0;
  border: 2px solid #fff;
  border-radius: 3px;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}
.coverSpread .overlayContent .skip:hover {
  background: #ddd;
  color: #444;
  border-color: #ddd;
}

.loader {
  position: relative;
  font-size: 123px;
  font-family: 'termina', sans-serif;
  font-style: normal;
  text-transform: uppercase;
  font-weight: 900;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
}

/*Font Change*/


@font-face {
  font-family: 'Bimbo Jumbo';
  font-style: normal;
  font-weight: normal;
  src: local('Bimbo Jumbo'), url('../fonts/Bimbo\ Jumbo\ Trial.woff') format('woff');
  }

@font-face {
  font-family: 'Made Saonara';
  font-style: normal;
  font-weight: normal;
  src: local('madeSaonara'), url('../fonts/madeSaonara.otf') format("opentype");
  }


    @font-face {
      font-family: 'XPLOR Bold';
      font-style: normal;
      font-weight: normal;
      src: local('XPLOR Bold'), url('../fonts/XPLOR\ Bold-Regular.otf') format("opentype");
      }
      
      @import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@font-face {font-family: "PhosphateInline"; src: url("//db.onlinewebfonts.com/t/c4a64740ecb71342cea0a87b66ee15e0.eot"); src: url("//db.onlinewebfonts.com/t/c4a64740ecb71342cea0a87b66ee15e0.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/c4a64740ecb71342cea0a87b66ee15e0.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/c4a64740ecb71342cea0a87b66ee15e0.woff") format("woff"), url("//db.onlinewebfonts.com/t/c4a64740ecb71342cea0a87b66ee15e0.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/c4a64740ecb71342cea0a87b66ee15e0.svg#PhosphateInline") format("svg"); }

#fontChange {
  animation: font 2s infinite ease;
}

@keyframes font {
  0% {
    font-family: 'termina', sans-serif;
    font-size: 100px;
  }
  20% {
    font-family: 'Bimbo Jumbo', sans-serif;
    color: #7A93B5;
  }
  40% {
    font-family: 'XPLOR Bold';
    color:#52366A;
    text-transform: uppercase;
    /* font-size: 126px; */
  }
  60% {
    font-family: 'XPLOR Bold';
    color: #59AC63;
    /* font-size: 150px; */
  }
  80% {
    font-family: 'Made Saonara', sans-serif;
    color: #FF7550;
    text-transform: none;
    /* font-size: 150px; */
  }
   100% {
    font-family: 'termina', sans-serif;
    font-size: 100px;
} 
}

body {
  background:#F8F8F8;
  font-family: 'montserrat';
}

/* body.finito {
  overflow-y: auto;
} */

/* .header {
  /* background: url("https://picsum.photos/4096/2160?random=1") center/cover; */
  /* background-size: cover;
  height: 100vh; */
/* .header .darken {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
} */



/* Nav Bar */
.ccontatiner{
  width:90%;
  margin: auto;
}

a.navbar-brand {
  display: inline-block;
  padding-top: .3125rem;
  padding-bottom: .3125rem;
  margin-right: 1rem;
  line-height: inherit;
  white-space: nowrap;
  color:#33E1ED;
  font-family: 'montserrat';
  font-weight: 700;
  font-size: 2.25rem;
}


/*Footer */

#footer{
  background-color: #FbF9F3;
  /* height: 465px; */
  margin-bottom:0;
 
}
.footer-info h4{
  font-family: 'Montserrat';
  font-size: 34px;
  text-align: right;
}
.footer-info{
  margin-top: 270px;
  margin-right: 30px;
}

.footer-info p{
  font-family: 'lato';
  font-size: 18px;
  text-align: right;
}

.footStuff h1{
  font-family: 'Montserrat';
  font-size:117px;
  font-weight: 700;
  -webkit-text-fill-color: #FBF9F3; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 4px;
  -webkit-text-stroke-color:  #33E1ED;
  margin-left: 30px;
  margin-top: 150px;
}

#WDlogo img{
  height: auto;
  margin-top:-19px;
  position: absolute;
  float: right;
  width: 32%;
  padding-bottom: 4%;
}


div.jumbotron .jumbotron-fluid {
  padding-right: 0;
  padding-left: 0;
  border-radius: 0;
  color:#FBF9F3;
  background-color: #1E1E2C;
}
.jumbotron {
  padding: 2rem 1rem;
  margin-bottom: 2rem;
  color:#FBF9F3;
  background-color: #1E1E2C;
  border-radius: .3rem;
}
#banner{
  color: #FBF9F3;
  background-color: #1E1E2C;
}