body.hide-overflow {
  /* overflow: hidden; */
  background-color: #f8f8f8;
}

/* helpers */

.book-wrapper {
  display: table;
  width: 100%;
  height: 100%;
}

.book-container {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  position: relative;
}

/* book */

.book {
  margin: 0 auto;
  width: 98%;
  height: 98%;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin-top: -31px;
  margin-bottom: 138px;
  /* background: rgb(30, 30, 44, 0.14); */
}


.book .page {
  height: 100%;
  background: #000;
  position: relative;
  color: #fff;
}

.product-image {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
}

.inner{
  border-left: solid 1px #495057;
}

.image-1 {
    background-image: url("https://images.unsplash.com/photo-1551909377-3351558bb30f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=334&q=80");
}

.image-2 {
  background-image: url("https://images.unsplash.com/flagged/photo-1556637640-2c80d3201be8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80");
}

.flip-control {
  width: 400px;
  text-align: center;
  position: relative;

}

.flip-control a {
  margin-left: 10px;
}


.page {
  font-family: "Fira Mono";
}

.page h1 {
  text-transform: uppercase;
    text-align: left;
  margin-left: 50px;
}


.page h3 {
  font-size: 60px;
  text-align: left;
  margin-left: 50px;
}

.page p {
  width: 80%;
  text-align: left;
  margin: 0 auto;
}

.page span {
  position: absolute;
  width: 30px;
  height: 3px;
  background: #fff;
  top: 60px;
  left: 50px;
}

#prev{
  float: left;
 }
 
 #next{
 float: right;
 }
 
 .flip-control {
   width: 576px;
   left: 30%;
   /* bottom: 1%; */
   /* margin: auto; */
   text-align: center;
   position: absolute;
   bottom: 0px;
   top: 1348px;
 }
 
.button {
  width: 100px;
  text-transform: uppercase;
  height: 30px;
  line-height: 30px;
  border: 1px solid #fff;
  font-size: 10px;
  cursor: pointer;
    margin: 0 auto;
  margin-top: 100px;

}

.ccontatiner{
  width:90%;
  margin: auto;
}
div.jumbotron .jumbotron-fluid {
  padding-right: 0;
  padding-left: 0;
  border-radius: 0;
  background-color: #fbf9f3;
}
.jumbotron {
  padding: 2rem 1rem;
  margin-bottom: 2rem;
  background-color: #fbf9f3;
  border-radius: .3rem;
}
#banner{
  background-color: #fbf9f3;
}
/* Nav Bar */

a.navbar-brand {
  display: inline-block;
  padding-top: .3125rem;
  padding-bottom: .3125rem;
  margin-right: 1rem;
  /* font-size: 1.25rem; */
  line-height: inherit;
  white-space: nowrap;
  color:#33E1ED;
  font-family: 'montserrat';
  font-weight: 700;
  font-size: 2.25rem;
}

h2.issue1 {
  font-size: 2rem;
  font-family: 'Montserrat';
  font-weight: 700;
  margin-left: 107px;
   margin-top: -38px;

}
p.lead{
  font-family: 'lato';
  font-size: 18px;
  margin-left: 107px;
}

/*Footer */

#footer{
  /* Removing background color s@z
  background-color: #FbF9F3; */
  /* height: 465px; */
  margin-bottom:0;
 
}
.footer-info h4{
  font-family: 'Montserrat';
  font-size: 34px;
  text-align: right;
}

.footer-info p{
  font-family: 'lato';
  font-size: 18px;
  text-align: right;
}

.footStuff h1{
  font-family: 'Montserrat';
  font-size: 34px;
  font-weight: bold;
  -webkit-text-fill-color: #FBF9F3; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1.5px;
  -webkit-text-stroke-color:  #33E1ED;
  margin-left: 30px;
  margin-top: 150px;
}

#WDlogo {
  height: auto;
  width: 18em;
}

.introtext {
	float: left;
	margin-top: -1.97rem;
	width: 50%;
	
}
.thankyoutext {
	float: right;
	margin-top: -1.97rem;
	width: 50%;
	
}

/* breakpoint for mobile approaching tablet*/
@media (max-width: 639px) {
	html {
		min-width: 375px;
	}
	#book {
		width: 100%;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 107px;
	}
	
	.ccontatiner {
		/*margin-left: 3.9%;*/
	}
	.navbar {
		padding: 0;
		margin: 1.6% 0 1.6% 0;
	}
	.container {
		padding-top: 3em;
	}
	p.lead {
		font-size: 1rem;
	}
	h2.issue1 {
		font-size: 1.5rem;
	}
	#banner {
	}
	#footer h1 {
		margin: 0px 0px 0px 0px;
	}
	#footer h4 {
		font-size: 24px;
	}
	#footer p {
		font-size: 14px;
	}
	.footer-info {
		margin: 0 0 0 0;
	}
	#WDlogo {
		width: 12em;
}
}

/* breakpoint for tablet approaching desktop*/
@media (min-width: 640px) and (max-width: 1919px) {
	#book {
		width: 100%;
		margin-bottom: 74px;
	}
	
	.navbar {
		padding: 0;
		margin: 1.6% 0 1.6% 0;
	}
	
	.container {
		padding-top: 3em;
		margin-left: 8em;
	}
	
	#banner {
	}
	
	#footer h1 {
		margin: 0% 0% 0% 0%;
	}
	#footer h4 {
		font-size: 34px;
	}
	#footer p {
		font-size: 24px;
	}
	.footer-info {
		margin: 0% 0% 0% 0%;
	}
}

@media (min-width: 1920px) {
	#book {
		width: 100%;
		margin-bottom: 145px;
	}
	
	.navbar {
		padding: 0;
		margin: 1.6% 0 1.6% 0;
	}
	.container {
		padding-top: 4em;
		padding-left: 6em;
	}
	#banner {
		height: 18vh;
	}
	
	#footer h1 {
		margin: 0% 0% 145px 0%;
		width: 350px;
		height: 91px;
		-webkit-text-stroke: 3px #33e1ed;
		font-family: Montserrat;
		font-size: 74px;
		font-weight: bold;
		font-stretch: normal;
		font-style: normal;
		line-height: 1.23;
		letter-spacing: normal;
		text-align: left;
		color: #fbf9f3;
}
	
	#footer h4 {
		font-family: Montserrat;
		font-size: 34px;
		font-weight: normal;
		font-stretch: normal;
		font-style: normal;
		line-height: 1.21;
		letter-spacing: normal;
		text-align: right;
		color: #1e1e2c;
		padding-top: 10%;
}
	
	#footer p {
		font-family: Lato;
		font-size: 24px;
		font-weight: 300;
		font-stretch: normal;
		font-style: normal;
		line-height: 1.19;
		letter-spacing: normal;
		text-align: right;
		color: #1e1e2c;
	}
}
