body.hide-overflow {
  /* overflow: hidden; */
}

/* helpers */

.book-wrapper {
  display: table;
  width: 100%;
  height: 100%;
}

.book-container {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  position: relative;
}

/* book */

.book {
  margin: 0 auto;
  width: 98%;
  height: 98%;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin-top: -31px;
  margin-bottom: 138px;
}


.book .page {
  height: 100%;
  background: #000;
  position: relative;
  color: #fff;
}

.product-image {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
}

.image-1 {
    background-image: url("https://images.unsplash.com/photo-1551909377-3351558bb30f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=334&q=80");
}

.image-2 {
  background-image: url("https://images.unsplash.com/flagged/photo-1556637640-2c80d3201be8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80");
}

.flip-control {
  width: 400px;
  text-align: center;
  position: relative;

}

.flip-control a {
  margin-left: 10px;
}


.page {
  font-family: "Fira Mono";
}

.page h1 {
  text-transform: uppercase;
    text-align: left;
  margin-left: 50px;
}


.page h3 {
  font-size: 60px;
  text-align: left;
  margin-left: 50px;
}

.page p {
  width: 80%;
  text-align: left;
  margin: 0 auto;
}

.page span {
  position: absolute;
  width: 30px;
  height: 3px;
  background: #fff;
  top: 60px;
  left: 50px;
}

.button {
  width: 100px;
  text-transform: uppercase;
  height: 30px;
  line-height: 30px;
  border: 1px solid #fff;
  font-size: 10px;
  cursor: pointer;
    margin: 0 auto;
  margin-top: 100px;

}

.ccontatiner{
  width:90%;
  margin: auto;
}
div.jumbotron .jumbotron-fluid {
  padding-right: 0;
  padding-left: 0;
  border-radius: 0;
  background-color: #fbf9f3;
}
.jumbotron {
  padding: 2rem 1rem;
  margin-bottom: 2rem;
  background-color: #fbf9f3;
  border-radius: .3rem;
}
#banner{
  background-color: #fbf9f3;
}
/* Nav Bar */

a.navbar-brand {
  display: inline-block;
  padding-top: .3125rem;
  padding-bottom: .3125rem;
  margin-right: 1rem;
  /* font-size: 1.25rem; */
  line-height: inherit;
  white-space: nowrap;
  color:#33E1ED;
  font-family: 'montserrat';
  font-weight: 700;
  font-size: 2.25rem;
}

h2.issue1 {
  font-size: 2rem;
  font-family: 'Montserrat';
  font-weight: 700;
  margin-left: 107px;
   margin-top: -38px;

}
p.lead{
  font-family: 'lato';
  font-size: 18px;
  margin-left: 107px;
}

/*Footer */

#footer{
  background-color: #FbF9F3;
  /* height: 465px; */
  margin-bottom:0;
 
}
.footer-info h4{
  font-family: 'Montserrat';
  font-size: 34px;
  text-align: right;
}
.footer-info{
  margin-top: 270px;
  margin-right: 30px;
}

.footer-info p{
  font-family: 'lato';
  font-size: 18px;
  text-align: right;
}

.footStuff h1{
  font-family: 'Montserrat';
  font-size:117px;
  font-weight: 700;
  -webkit-text-fill-color: #FBF9F3; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 4px;
  -webkit-text-stroke-color:  #33E1ED;
  margin-left: 30px;
  margin-top: 150px;
}

#WDlogo img{
  width: 300px;
  height: auto;
  float: right;
  margin-top:-19px;
  position: absolute;
}

#prev{
 float: left;
}

#next{
float: right;
}

.flip-control {
  width: 576px;
  left: 30%;
  /* bottom: 1%; */
  /* margin: auto; */
  text-align: center;
  position: absolute;
  bottom: 0px;
  top: 1348px;
}