*,
*::after,
*::before {
  /* make sure before and after elements get the reset */
  margin:0;
  padding:0;
  box-sizing: inherit; /* section 3 lecture 18, 12:15s */
}

html {
  /*
   set the root font size
   user default is 16px;
   always a bad practice to set font size in PX.

   we want a font-size of 10px. 10/16 = .625.

   if the user has set a larger font-size, we inherit that
   and it does create a larger font size.
  */
  font-size:62.5%; 
}

body {
  font-family:sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.bookWrapper {
  margin:10rem;
  width:70rem;
  height:45rem;
}
.bookBg {
  position:relative;
  background-color: white;
  width:100%;
  height:100%;
  border-radius: 1.2rem;  
}
.centerClass {
  position:absolute;
  left:50%;
  top:50%;
}
.pageBg {
  background-color: #ffffff;
  width:65.2rem; 
  height:42.2rem;
  border-radius: 0;
}
.spineCenter {
  width:.2rem; 
  height:42.2rem;
  border-radius: 0;
  background:rgba(101,101,101,.4);
}
.pageWrapper {
  position:relative;
  width:32.5rem;
  height:42.2rem;
  float: left;
  -webkit-font-smoothing:antialiased;
}
.pageFace {
  position:absolute;
  width: 36.5rem;
  height: 52.2rem;
  overflow:hidden;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.pageFace h1{
  font-size: 3rem;
}
.pageFace p{
  font-size: 2rem;
}
.pageFace p.small{
  font-size: 1rem;
}
.pageFace img{
  width:100%;
}
.front {
  background: linear-gradient(to right,  #d9d9d9 0%,#f9f9f9 3%,#ffffff 8%,#ffffff 100%);
}
.back {
  background: linear-gradient(to right,  #ffffff 0%,#ffffff 92%,#f9f9f9 97%,#d9d9d9 100%);
}
.pageFoldRight {
  position: absolute;
    width:  0;
    height: 0;
    top:  0;
    right: 0;
    border-left-width: 1px;
    border-left-color: #DDDDDD;
    border-left-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #DDDDDD;
    border-bottom-style: solid;
    box-shadow: -.5rem .5rem 1rem #dddddd;
}
.pageFoldLeft {
   position: absolute;
    width:  0;
    height: 0;
    top:  0;
    left: 0;
    border-right-width: 1px;
    border-right-color: #DDDDDD;
    border-right-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #DDDDDD;
    border-bottom-style: solid;
    box-shadow: .5rem .5rem 1rem #dddddd;
}
.written-by{
  font-size: 2rem;

}
.written-by span {
  color:red;
}